/* HTML & Body 
=================================*/

html,
body {

    height: 100%;
}

body {
    color: grey;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}



/* Preloader styling 
======================================= */

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}


#home {
    background: none;
    height: 100%;
}

/* Home section  styling 
=============================*/

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}


#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}



/* Button Style */


.btn-general {
    font-family: 'Raleaway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}



.btn-home {
    color: white;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}


.btn-yellow {
    color: white;
    border: 1px solid #fff;
    background-color: #f4c613;
}

.btn-yellow:hover,
.btn-home:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

/* Arrow Down */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 28px;
    color: #fff;
    font-size: 50px;
    width: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}


/* About Section Part 1 */

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
    /* 0 = Top Bottom aut0 = left right */
}


/* About Section Part 2 */
#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: white;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

.about-item i {
    font-size: 42px;
    margin: 0;
}


.about-item h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.aboutitem p {
    margin-top: 20px;
}


/* Home state */
.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: white;
}

.about-item:hover hr {
    background-color: white;
}

.about-item:hover i {
    transform: translateY(-20px);
}


/* Smooth Transitiion */
.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}


/* Content Box */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}



/* vertical heading */

.vertical-heading h5 {
    color: #f4c613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -63px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}


.horizontal-heading {
    margin-bottom: 50px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: #f4c613;
    text-transform:uppercase;
    display: inline-block;
    margin-bottom: 10px;
}


.horizontal-heading h2 {
    margin: 0;
}

/* Team */
#team-left .vertical-heading {
    min-height: 180px;
}

.team-member {
    margin: 8px;
    position: relative;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: #f4c613;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: white;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}


/* Social Icon List */
ul.social-list {
    padding: 0;
    margin-top: 20px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

/* Social List Hover */
ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;

}

ul.social-list li:nth-child(2) a:hover {
    background: #00aced;
    border-color: transparent;

}

ul.social-list li:nth-child(3) a:hover {
    background: #dd4b39;
    border-color: transparent;
}

/* Slider corosel CSS */

.owl-theme .owl-nav [class*=owl-] {
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #212226;
}


/* Skills */
.skill {
    margin-bottom: 20px;
}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.progress {
    height: 25px;
    border-radius: 0;
    background-color: #efefef;
    overflow: visible;
}

.progress-bar {
    background-color: #f4c613;
    position: relative;

}

.progress-bar span {
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    background: #212226;
    padding: 3px;
    position: absolute;
    left: 97%;
    top: -50px;
}

.progress-bar span:before {
    content: "";
    border-top: 8px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;
}


/* Statement */
#statement {
    background: url("../img/tech/tech-quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#statement .content-box-lg {
    background: rgba(0,0,0, 0.3);
}

#tech-statement h3 {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

#tech-statement p {
    color: #f4c613;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}

/* Service-01 */

#services-01 img {
    margin: 60px 0;
}

.service {
    margin: 35px 0;
}

.service .icon {
    font-size: 42px;
    margin: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.service:hover .icon {
    color: #f4c613;
    -webkit-transform:  translatex(-20px);
    transform:  translatex(-20px);
}

.service h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #f4c613;
    margin: 0 0 6px 0;
}

.service:hover h5 {
    color: #212226;
}

.service h4 {
    font-size: 24px;
    margin: 0 0 8px 0;
}

.service p {
    line-height: normal;
    
}

/* Service-02 With Responsive tabs */

#services-02 {
    background: #f4f4f4;
}


#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;    
}


/* Tab Active state */
#services-tabs ul li.r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg {
    background: #fff;
    padding: 59px 30px;
    min-height: 481px;
}

.service-tab h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3 {
    font-size:32px;
    margin-bottom: 30px;
    
}

.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}
